body
{
  background-color: #141414;
  color: whitesmoke;
  margin: 0%;
  padding: 0%;
}

.player
{
  width: 100%;
  position: sticky;
  top: 0%;
  background-color: #141414d2;
}

.player div
{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player div.bottom
{
  display: flex;
  flex-direction: column;
  font-family: DM Sans;
  color: rgb(211, 211, 211);
  font-size: 15px;
}

.slider
{
  width: 70%;
  background: #FF9B29;
}
.slider::-webkit-slider-runnable-track {
  background-color: #363636;
  border-radius: 8px;
  height: 5px;
}
.slider::-webkit-slider-thumb
{
  margin-top: -5px;
}

.player button
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 1%;
  margin-top: 5%;
  font-size: 30px;
  border: none;
  outline: none;
  background: linear-gradient(-45deg, #FF9B29, #FF3B29);
  transition: 200ms;
  opacity: 0.95;
}
.player button.play
{
  width: 100px;
  height: 100px;
  font-size: 40px;
}
.player button:hover
{
  opacity: 1;
}

#sName {text-align: center;}

hr
{
  border: 1px solid #FF9B29;
  opacity: 0.1;
}

.controls input
{
  width: 100%;
  border: none;
  background-color: #363636;
  padding: 20px;
  color: #FF9B29;
  border: 1px dashed #363636;
  font-family: DM Sans;
  outline: none;
}
.controls input:hover, .controls input:focus
{
  background: #FF9B29;
  border: 1px solid transparent;
  color: black;
}
.controls button
{
  width: 140px;
  border: none;
  background-color: #363636;
  color: whitesmoke;
}
.controls button:hover
{
  background-color: #FF9B29;
  color: #141414;
}

#sList
{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#sList input
{
  width: 100%;
  border: none;
  background-color: #363636;
  padding: 20px;
  color: #FF9B29;
  border: 1px dashed #363636;
  font-family: DM Sans;
  outline: none;
}
#sList input:hover, #sList input:focus
{
  background: #FF9B29;
  border: 1px solid transparent;
  color: black;
}
#sList div button
{
  width: 140px;
  border: 1px solid transparent;
}

#playingRn
{
  background: linear-gradient(-45deg, #FF9B29, #FF3B29);
  color: #141414;
}

#sList button
{
  width: 100%;  
  padding: 10px;
  border: none;
  background-color: #363636;
  color: rgb(211, 211, 211);
  font-family: DM Sans;
}
#sList button:hover
{
  background: linear-gradient(-45deg, #FF9B29, #FF3B29);
  color: #141414;
}

::-webkit-scrollbar
{
  width: 10px;
}
::-webkit-scrollbar-thumb
{
  background: linear-gradient(-45deg, #FF9B29, #FF3B29);
}